# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# SQLite database
tasks.db
*.db
*.sql

# VSCode / IDE
.vscode/
.idea/

# Docker
*.pid

# OS files
.DS_Store

# Environment
.env
